.theaters-containers {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
  }
  
  .theaters-item-containers {
    position: relative;
    margin: 24px;
    width: 330px;
    height: 560px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  
  .theaters-img-containers,
  .theaters-body-containers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .theaters-img-containers img {
    width: 100%;
  }
  
  .theaters-body-containers {
    position: relative;
  }
  
  .theaters-overlays {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
  }
  
  .theaters-item-containers:hover .theaters-overlays {
    opacity: 1;
    height: 150px;
  }
  
  .theaters-event-infos {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
  
  .theaters-titles,
  .theaters-prices {
    color: #18537a;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
  }
  
  .theaters-infos {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
  }
  
  .theaters-separators {
    width: 20%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
  }
  
  .theaters-additional-infos {
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
  }
  
  .theaters-additional-infos .theaters-infos {
    font-size: 0.9em;
    color: #18537a;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .theaters-infos i {
    color: #18537a;
    font-size: 1.1em;
    margin-right: 4px;
  }
  
  .theaters-infos span {
    color: #18537a;
    font-weight: bolder;
  }
  
  .theaters-actions {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
  }

.theaters-actions{
 text-align: center;
}

.theaters-item-containers:hover .theaters-actions {
  top: 50px;
}

.theaters-actions:hover {
  background-color: rgba(255, 255, 255, 0.2);
}