.comment-list {
  margin: auto;
  width:80%;
  color: white;
}

.comment-form {
  margin-bottom: 10px;
}

.comment-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-textarea {
  flex: 1;
  height: 80px;
  resize: vertical;
  padding: 5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.comment-submit {
  padding: 5px 10px;
  background-color: #00366b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 3rem;
  margin-left: 1rem;
}

.comment-submit:hover {
  background-color: #00214d;
}

.error {
  margin: 0;
  color: red;
  font-size: 12px;
}

.reviews {
  margin-top: 20px;
}

.review {
  margin-bottom: 10px;
}

.review-username {
  font-weight: bold;
  margin-right: 5px;
}

.review-comment {
  margin: 0;
}
