.comment-list {
    margin-top: 20px;
  }
  
  .comment-list form {
    margin-bottom: 10px;
  }
  
  .comment-list textarea {
    width: 23.5%;
    height: 80px;
    resize: vertical;
    margin-left: 10rem;
    padding: 5px;
    background-color: black;
    /* background-color: rgb(55, 55, 55); */
    color: white;
  }
  
  .comment-list button {
    padding: 5px 10px;
    background-color: #00366b;
    margin-left: 27.5rem;
  }
  
  .comment-list ul {
    list-style: none;
    padding: 0;
  }
  
  .comment-list li {
    margin-bottom: 10px;
  }
  
  .comment-list p {
    margin: 0;
    margin-left: 10rem;
  }
  
  .comment-list p:last-child {
    color: white;
    font-size: 12px;
  }
  
  .section__header{
    color: white;
  }